.header {
  width: 100%;
  height: 5.5rem;
  line-height: 5.5rem;

}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  list-style: none;
  column-gap: ;
}

.nav__item {
  padding-left: 1rem;
  padding-right: 1rem;
}
